@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

.ff_montserat {
  font-family: "Montserrat" !important;
}

.ff_opensans {
  font-family: "Open Sans";
}

::-webkit-scrollbar {
  opacity: 0;
}

@font-face {
  font-family: "Matter";
  src: url(../src/assets/fonts/Matter/Matter-Regular.ttf);
  src: url(../src/assets/fonts/Matter/Matter-Regular.ttf);
  src: url(../src/assets/fonts/Matter/Matter-Medium.ttf);
  src: url(../src/assets/fonts/Matter/Matter-SemiBold.ttf);
}

.box_shadow:hover {
  box-shadow: -1px 1px 22px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 22px 0px rgba(0, 0, 0, 0.75);
}
.nav_shadow {
  box-shadow: 0px 4px 46px 0px rgba(0, 0, 0, 0.12);
}

.orgnisation_card_shadow {
  box-shadow: 0px 4px 48.1px 0px rgba(0, 0, 0, 0.12);
}

.case_boxshadow {
  box-shadow: 4px 8px 16px 0px rgba(0, 0, 0, 0.15);
}

.consltation_card_shadow {
  box-shadow: 0px 4px 50px 10px rgba(0, 0, 0, 0.04) !important;
}

.card_bg {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
}

.card_shadow {
  box-shadow: 4px 4px 50px 12px rgba(0, 0, 0, 0.04);
}
.bg_header {
  background-image: url(../public/images/webp/header_bg.webp);
  background-size: cover;
  background-position: center;
}
.skyblue_bg {
  background: url(../public/images/webp/skyblue_bg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg_work {
  background-image: url(../public/images/webp/triangle\ ellipse.webp);
  background-size: cover;
  background-position: center;
}

.slick-slide {
  padding-left: 10px;
  padding-right: 10px;
}

.slick-dots li.slick-active button:before {
  background-color: #621c69 !important;
}

li.slick-active {
  color: #621c69 !important;
  border-radius: 30px;
  width: 44px !important;
  height: 18px !important;
  opacity: 100 !important;
  border-radius: 39px !important;
  background: #621c69 !important;
}

.slick-dots li button:active {
  color: #621c69 !important;
}

.slick-dots li button:before {
  width: 18px !important;
  height: 18px !important;
  content: "" !important;
  border-radius: 50% !important;
  background-color: #ad68b4 !important;
  position: absolute;
  left: 0;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 18px !important;
  height: 18px !important;
  padding: 0px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
  transition: 300ms;
}

.slick-dots {
  bottom: -62px !important;
}

.fill {
  fill: none !important;
  transition: all 300ms linear;
  cursor: pointer;
}

.fill:hover {
  fill: #621c69 !important;
}

.fill:hover path {
  stroke: white !important;
}

.circle {
  position: fixed;
  bottom: 3%;
  right: 2%;
  z-index: 2;
  display: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
}

@media (min-width: 1280px) {
  .box_shadow:hover {
    box-shadow: -1px 1px 22px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 1px 22px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 22px 0px rgba(0, 0, 0, 0.75);
  }

  .orgnisation_card_shadow {
    box-shadow: 0px 4px 48.1px 0px rgba(0, 0, 0, 0.12);
  }

  .case_boxshadow {
    box-shadow: 4px 8px 16px 0px rgba(0, 0, 0, 0.15);
  }

  .card_bg {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
  }

  .card_shadow {
    box-shadow: 4px 4px 50px 12px rgba(0, 0, 0, 0.04);
  }

  .skyblue_bg {
    background: url(../public/images/webp/skyblue_bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .slick-slide {
    padding-left: 10px;
    padding-right: 10px;
  }

  .circle {
    position: fixed;
    bottom: 3%;
    right: 2%;
    z-index: 2;
    display: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }

  .fill {
    fill: none !important;
    transition: all 300ms linear;
    cursor: pointer;
  }

  .fill:hover {
    fill: #621c69 !important;
  }

  .fill:hover path {
    stroke: white !important;
  }
}

::placeholder {
  color: #707070 !important;
}

/* preloder-key-frame */
.loader {
  display: flex;
  width: calc(228px * 10);
  animation: zoom-in 1500ms linear infinite;
}

@keyframes zoom-in {
  0% {
    transform: translateX(0);
    scale: 1;
  }

  50% {
    transform: translateX(0);
    scale: 0.85;
  }
}
